$gutter: 30px;
$primary-font: 'Poppins, sans-serif';
$background-color: #fefefe;
$clr-1: #ffb319;
$clr-2: #6f69ac;
$clr-3: #80ed99;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: $background-color;
}

.pricing {
  padding: 100px 0;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0, auto;
}

%price-card {
  margin-right: $gutter;
  &:last-child {
    margin-right: 0;
  }
}
